/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-9b30c6ad-v51jd8wj version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj  .preview-content-holder  {
		
						margin-right: 30px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 350px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 30px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .preview-divider  {
		
						border-bottom-width: 4px;
						
						border-color: rgb(0, 0, 0);
						
						width: 10%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .inner-pic  {
		
						opacity: 1;
						
						color: rgb(255, 255, 255);
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .preview-subtitle-holder  {
		
						max-width: 1050px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .background-div  {
			
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj.master.item-box   {
		
						background-color: rgb(239, 239, 239);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .preview-title  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .preview-body h1  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .preview-item-links span  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						padding-right: 30px;
						
						margin-top: 20px;
						
						padding-left: 30px;
						
						border-radius: 18px;
						
						padding-top: 10px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 60px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .preview-item-links span:before  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .preview-item-links span:hover  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .preview-body  {
		
						line-height: 1.5em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 800px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .middle_layout .helper-div  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .preview-subtitle  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-v51jd8wj .preview-body h2  { 
						font-family: Raleway;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.5em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-9b30c6ad-v51jd8wj #vbid-9b30c6ad-3zpa26fb .preview-content-holder{
				
							text-align : left;
					
				}


 .style-9b30c6ad-v51jd8wj #vbid-9b30c6ad-l4nrpkhl.inner-pic{
				
							background-position : 49.2685470581055% 69.2805786132813%;
					
				} .style-9b30c6ad-v51jd8wj #vbid-9b30c6ad-qob7b88l.inner-pic{
				
							background-position : 50% 50%;
					
				} .style-9b30c6ad-v51jd8wj #vbid-9b30c6ad-wpg7ge90.inner-pic{
				
							background-position : 50.3135% 29.5905%;
					
				}











 .style-9b30c6ad-v51jd8wj #vbid-9b30c6ad-3zpa26fb .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-9b30c6ad-yhgbpkmd version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .preview-item-links span:hover  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd  .preview-content-holder  {
		
						padding-right: 0px;
						
						text-align: center;
						
						max-width: 600px;
						
						margin-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 0px;
						
						margin-bottom: 30px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgb(197, 197, 197);
						
						padding-left: 0px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .preview-item-links span  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 15px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 20px;
						
						padding-left: 20px;
						
						padding-top: 15px;
						
						border-width: 1px;
						
						background-color: rgb(228, 68, 68);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .preview-title  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .preview-body h1  { 
						line-height: 1.0em;
						font-size:calc( 10px + ( 42rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-bottom: 5px;
						
						font-family: 'Mr Dafoe';
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .preview-divider  {
		
						margin-bottom: 10px;
						
						border-bottom-width: 1px;
						
						margin-top: 5px;
						
						width: 10%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .preview-body-holder  {
		
						max-width: 500px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 100px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						max-width: 600px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .inner-pic  {
		
						opacity: 1;
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .middle_layout .helper-div  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .preview-subtitle  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-yhgbpkmd .preview-body h2  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




 .style-9b30c6ad-yhgbpkmd #vbid-9b30c6ad-mb1922al .preview-content-holder{
				
							text-align : left;
					
				}










 .style-9b30c6ad-yhgbpkmd #vbid-9b30c6ad-dlewbzfl.inner-pic{
				
							background-position : 51.2% 1.6441%;
					
				} .style-9b30c6ad-yhgbpkmd #vbid-9b30c6ad-96v6ivs4.inner-pic{
				
							background-size : cover;
					
							background-position : 40% 88.1057%;
					
				}
 .style-9b30c6ad-yhgbpkmd #vbid-9b30c6ad-mb1922al .preview-content-wrapper{
				
							text-align : left;
					
				}







/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-9b30c6ad-aovjqhew version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-9b30c6ad-aovjqhew .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-9b30c6ad-aovjqhew .Subtitle  ,  .master .style-9b30c6ad-aovjqhew .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-9b30c6ad-aovjqhew .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-9b30c6ad-aovjqhew .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-9b30c6ad-aovjqhew .Title  ,  .master .style-9b30c6ad-aovjqhew .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-9b30c6ad-aovjqhew .link-wrapper  {
		
						max-width: 1238px;
							
		}
	 .master .style-9b30c6ad-aovjqhew .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-9b30c6ad-aovjqhew .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-9b30c6ad-aovjqhew .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-9b30c6ad-aovjqhew .item-links span  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	
	 .master .style-9b30c6ad-aovjqhew .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-9b30c6ad-aovjqhew.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: 'Playfair Display';
				
						letter-spacing: 0.0em;
				
						line-height: 1.2em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Montserrat;
				
						letter-spacing: 0.05em;
				
						border-width: 1px;
				
						border-radius: 0px;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: 0.0em;
				
						line-height: 1.2em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Abel;
				
						letter-spacing: -0.0em;
				
						line-height: 1.3em;
					
		}
	
	
	
			  .header-box + .master.item-box.fill-height , 
			  #menu-placeholder + .master.item-box.fill-height { 
						min-height: calc(100vh - 88px)!important;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}
	
	
	
			#xprs.in-editor  .header-box + .control-handle + .master.item-box.fill-height , 
			#xprs.in-editor  #menu-placeholder + .control-handle + .master.item-box.fill-height { 
						min-height: calc(100vh - 138px)!important;
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-9b30c6ad-9tdy1ej8 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .blocks-preview-divider  {
		
						border-bottom-width: 1px;
						
						width: 25%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 300px;
						
						padding-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 20px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .blocks-preview-icon-holder .icon-source  {
		
						width: 70px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 #pagination-holder  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(131, 131, 131);
						
						padding-bottom: 10px;
						
						border-color: rgb(131, 131, 131);
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 50px;
						
						font-family: Times New Roman;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .blocks-preview-item-links .Link:hover  {
		
						color: rgb(255, 255, 255);
						
						background-color: rgb(83, 83, 83);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .background-div  {
		
						background-size: contain;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .preview-title  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.3em;
						
						margin-top: 5px;
						
						line-height: 1.3em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .preview-item-links span  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 #sr-basket-widget *  { 
						font-family: Abel;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						padding-right: 15px;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						border-radius: 0px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						border-width: 1px;
						
						background-color: rgb(147, 147, 147);
						
						margin-left: 0px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .blocks-preview-body  {
		
						line-height: 1.5em;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .preview-element.icon-source  {
		
						width: 50px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .blocks-preview-content-holder  {
		
						margin-bottom: 20px;
						
						text-align: left;
						
						margin-top: 25px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .blocks-preview-subtitle  {
		
						font-family: Abel;
						font-size:calc( 10px + ( 15rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.2em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 0.9em;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .preview-item-links span:before  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .effect-tester  { 
						background-color: rgb(83, 83, 83);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .preview-price  {
		
						margin-top: 10px;
						
						font-family: Abel;
						font-size:calc( 10px + ( 28rem - 10rem ) );
						margin-bottom: 10px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .preview-item-links span:hover  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(92, 92, 92);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .inner-pic  {
		
						opacity: 1;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .blocks-preview-content-wrapper  {
		
						text-align: left;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .blocks-preview-title  {
		
						font-family: 'Playfair Display';
						font-size:calc( 10px + ( 41rem - 10rem ) );
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.2em;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(142, 142, 142);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Abel;
							
		}
	
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 5px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						border-radius: 16px;
						
						padding-top: 5px;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .preview-subtitle  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-9tdy1ej8 .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(101, 101, 101);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: Arial;
						
						background-color: rgba(255, 255, 255, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-9b30c6ad-tzu3sdok version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok.master.item-box   {
		
						position: relative;
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok .preview-item-links span:hover  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(147, 147, 147, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok.master.item-box   {
		
						padding-left: 3%;
						
						padding-right: 3%;
						
						width: 94%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok .preview-item-links span  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok #sr-basket-widget *  { font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(228, 68, 68);
						
						padding-bottom: 15px;
						
						border-color: rgb(246, 246, 246);
						
						letter-spacing: 0em;
						
						max-width: 1150px;
						
						padding-right: 5px;
						
						padding-left: 5px;
						
						padding-top: 15px;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
						
						margin-left: 11px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok .preview-title  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok .preview-body h1  { font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.2em;
						
						margin-right: 0px;
						
						margin-left: 5px;
						
						font-family: 'Playfair Display';
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok .preview-item-links.allow-bg-color  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok .submenu  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok .stripe-background  {
		
						margin-top: -10px;
						
						margin-left: -3%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok .preview-element.icon-source  {
		
						margin-right: 10px;
						
						margin-bottom: 5px;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						width: 60px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: center;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok .middle_layout .helper-div  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 2000px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok .preview-subtitle  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-tzu3sdok .preview-body h2  { font-size:calc( 10px + ( 10rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.3em;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-9b30c6ad-ntnlvoob version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob .background-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob.master.item-box   {
		
						background-color: rgb(239, 239, 239);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob .preview-title  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob .preview-body h1  { font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-top: 5px;
						
						margin-bottom: 5px;
						
						font-family: 'Playfair Display';
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob .preview-link-img  {
		
						width: 30px;
						
						margin: 4px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob.master.item-box   {
		
						padding-left: 0%;
						
						width: 100%;
						
						padding-right: 0%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob  .preview-content-holder  {
		
						margin-right: 30px;
						
						padding-bottom: 0px;
						
						max-width: 500px;
						
						padding-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 30px;
						
						padding-top: 0px;
						
						margin-bottom: 30px;
						
						background-color: rgba(92, 33, 33, 0);
						
						padding-left: 0px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob .preview-item-links span  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob #sr-basket-widget *  { font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						padding-right: 15px;
						
						margin-top: 25px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob .preview-title-holder  {
		
						text-align: center;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob .preview-body  {
		font-size:calc( 10px + ( 13rem - 10rem ) );
						margin-top: 15px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob .preview-element.icon-source  {
		
						width: 50px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 20px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob .preview-subtitle  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-ntnlvoob .preview-body h2  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(147, 147, 147);
						
						letter-spacing: 0.05em;
						
						margin-top: 5px;
						
						line-height: 1.3em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/


















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-9b30c6ad-rak7jore version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 30px;
						
						text-align: left;
						
						max-width: 350px;
						
						padding-right: 30px;
						
						margin-top: 30px;
						
						margin-left: 0px;
						
						padding-top: 30px;
						
						margin-bottom: 30px;
						
						background-color: rgb(239, 239, 239);
						
						border-color: rgb(197, 197, 197);
						
						padding-left: 30px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .item-content:not(.blocks_layout)  {
		
						background-color: rgb(239, 239, 239);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .preview-divider  {
		
						margin-bottom: 10px;
						
						border-color: rgb(147, 147, 147);
						
						margin-top: 5px;
						
						width: 40%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .inner-pic  {
		
						opacity: 1;
						
						color: rgb(255, 255, 255);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .preview-title  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 21rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 5px;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .preview-item-links span  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore #sr-basket-widget *  { 
						border-width: 0px;
						font-size:calc( 10px + ( 11rem - 10rem ) );
						color: rgb(236, 236, 236);
						
						padding-bottom: 15px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						padding-top: 15px;
						
						font-family: Arial;
						
						background-color: rgb(228, 68, 68);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						margin-top: 0px;
						
						margin-bottom: 10px;
						
						width: 50px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .preview-link-img  {
		
						width: 35px;
						
						margin: 5px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .preview-body-holder  {
		
						max-width: 500px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .preview-item-links span:hover  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .preview-element.Link.hover-tester  { 
						color: rgb(197, 197, 197);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .inner-pic-holder  {
		
						background-color: rgb(144, 174, 179);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .preview-item-links span:before  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.2em;
						
						max-width: 600px;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .middle_layout .helper-div  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .preview-subtitle  ,  .style-9b30c6ad-aovjqhew .style-9b30c6ad-rak7jore .preview-body h2  { 
						line-height: 1.5em;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(106, 106, 106);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-9b30c6ad-rak7jore #vbid-9b30c6ad-pkuippqq .preview-content-holder{
				
							text-align : left;
					
				}


 .style-9b30c6ad-rak7jore #vbid-9b30c6ad-jf7blnp7.inner-pic{
				
							background-position : 44.6708% 48.2667%;
					
				}










 .style-9b30c6ad-rak7jore #vbid-9b30c6ad-pkuippqq .preview-content-wrapper{
				
							text-align : left;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
